---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import Contactform from "@components/contactform.astro";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import PricingCard from "@components/pricing.astro";

const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const pricing = [
  {
    name: "Simple Business",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: false,
    features: [
      "Lifetime Uptime Guarantee",
      "Up to 5 Pages",
      "Free Life Time Hosting",
      "Unlimited Backups",
      "Any Basic api Integrations",
      "Priority Support",
      "Dynamic Blog Integration",
    ],
    button: {
      text: "Get Started",
      link: "/#contact",
    },
  },
  {
    name: "With CMS intigrated",
    price: {
      monthly: "$39",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All Simple Features",
      "Up to 10 Static",
      "Up to 3 Dynamic page types",
      "Unlimited Forms",
      "CMS Integrations",
      "Advanced Integrations",
      "Telegram Support",
    ],
    button: {
      text: "Get Started",
      link: "/#contact",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "Fully Managed Infrastructure",
      "Auth & SSO Integration",
      "Dedicated Account Manager",
      "Full Stack Development",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/#contact",
    },
  },
];
---

<Layout title="">
  <Container>
    <Hero id="hero" />
    <Features />
    <Logos />
    <Cta />
  </Container>
  <Container>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16" id="about">
      <h2 class="font-bold text-3xl text-gray-800 text-center">
        Empowering the world with Website4you.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500 text-center">
        At Website4You, we're a diverse team from all over the world.
         We come from different backgrounds, each bringing unique personalities, 
         experiences, and skills to the table. This diversity is what makes our team so special.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
  <Container>
    <div
      class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-40"
      id="contact">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact website4you</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-1">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Welmilla,Bandaragama, Sri Lanka</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-2">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Airport Road, Abu dhabi, UAE</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-1">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:contact@kythonlk.com">contact@kythonlk.com</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-2">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
            <a href="tel:+94755841372">+94 (75) 584 1372</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-1">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
            <a href="tel:+971562982733">+971 (56) 298 2733</a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
